<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-phoneplugin" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PhonePlugin</name>
    <js-module name="PhonePlugin" src="www/PhonePlugin.js">
        <clobbers target="PhonePlugin" />
    </js-module><platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="PhonePlugin">
                <param name="ios-package" value="PhonePlugin" />
                <param name="onload" value="true"/>
            </feature>
            <preference name="UseSwiftLanguageVersion" value="5"/>
        </config-file>
        
        <source-file src="src/ios/PhonePlugin.swift" />
    </platform>
</plugin>
